<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget left">
      <app-stats-curve></app-stats-curve>
    </div>
    <div class="widget right">
      <app-stats-diagram></app-stats-diagram>
    </div>
  </div>
  <div class="bottom-section">
    <div class="widget left">
      <app-last-few-assignments></app-last-few-assignments>
    </div>
    <div class="widget right">
      <app-top-three-assignments></app-top-three-assignments>
    </div>
  </div>
