<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<main class="container">
    <div @cardAnimation>
        <mat-card class="content-list custom-card" #cards *ngFor="let assignment of assignments">
            <nav>
                <p routerLink="/assignment/{{assignment.id}}">
                    <mat-card-header>
                        <mat-card-title appDynamicFontSize texte="assignment.nom">
                            {{ assignment.nom }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}
                        </mat-card-subtitle>
                        <div class="status">
                            <p appRendu *ngIf="assignment.rendu; else nonsoumis">Rendu</p>
                            <ng-template #nonsoumis>
                                <p appNonRendu mat-line>Non rendu</p>
                            </ng-template>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="content">
                        <div class="outlook" *ngIf="assignment.matiere.image_matiere">
                            <img src="../{{assignment.matiere.image_matiere}}" />
                            <div class="head-user-avatar-container">
                                <div class="head-user-avatar">
                                    <div *ngIf="assignment.matiere.image_prof; else pasImage">
                                        <img src="../{{assignment.matiere.image_prof}}" alt="user" class="user-avatar">
                                    </div>
                                    <div class="nomProf">
                                        {{assignment.matiere.prenom_prof + ' ' + assignment.matiere.nom_prof}}
                                    </div>
                                    <ng-template #pasImage>
                                        <div>
                                            <img src="../../assets/user.jpg" alt="user" class="user-avatar">
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="temp">
                                <span>Matière : {{assignment.matiere.nom_matiere}}</span>
                            </div>
                            <div class="temp">
                                <span>Etudiant : {{assignment.auteur.toUpperCase()}}</span>
                            </div>
                        </div>
                    </mat-card-content>
                </p>
            </nav>
        </mat-card>
    </div>
</main>
<mat-paginator @cardAnimation (page)="handlePageEvent($event)" [length]="totalDocs" [pageSize]="limit"
    [showFirstLastButtons]="showFirstLastButtons">
</mat-paginator>