.rendu {
    color: 'green';
}

.nonRendu {
    color: 'red';
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.menu {
    font-size: medium;
}

#_menu {
    padding-left: 0px;
    margin-left: -10px;
}