<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="menu"> <mat-icon>home</mat-icon></button>
        <button mat-button class="menu" id="_menu">Home</button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon"><mat-icon>menu</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<main *ngIf="!formVisible">
    <button mat-flat-button color="accent" (click)="formVisible = true">Ajouter assignment</button>
        <mat-list *ngFor="let assignment of assignments">
            <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
            <mat-list-item (click)="assignmentClique(assignment)">
                <div appRendu *ngIf="assignment.rendu; else nonsoumis">
                    Devoir intitulé {{ assignment.nom }} a été rendu
                </div>
                <ng-template #nonsoumis>
                    <div appNonRendu>
                        Devoir intitulé {{ assignment.nom }} non rendu
                    </div>
                </ng-template>
            </mat-list-item>
        </mat-list>
        <app-assignement-detail (supprimeAssignment)="onSupprimeAssignement($event)" [assignmentTransmis]="assignmentSelectionne"></app-assignement-detail>
</main>
<app-add-assignement *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignement>