$color_1: 'green';
$color_2: 'red';

.container {
	display: flex;
	justify-content: center;
	/* Aligner horizontalement au centre */
	align-items: center;
	/* Aligner verticalement au centre */
	flex-wrap: wrap;
	/* Permettre le retour à la ligne si l'espace est insuffisant */

	div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

.custom-card {
	width: 100%;
	/* Par défaut, pour les petits écrans */
	height: auto;
	/* Hauteur automatique pour s'adapter au contenu */

	.content,
	.outlook {
		.head-user-avatar-container {
			margin-left: 20px;

			.head-user-avatar {
				position: relative;

				.user-avatar {
					margin-bottom: -4px;
					width: 50px;
					border-radius: 10px;
					box-shadow: 0 0 15px rgb(35 35 35 / 15%);
					cursor: pointer;
				}
			}
		}
	}

	@media (min-width: 650px) {
		width: 30%;
		/* Réduire la largeur à 30% sur les écrans de 600 pixels et plus */
		height: 30%;
		/* Hauteur fixe pour les écrans plus grands */
		mat-card-title {
			font-size: 100%;
		}
	}

	@media (min-width: 900px) {
		width: 30%;
		/* Réduire la largeur à 20% sur les écrans de 900 pixels et plus */
		height: 250px;
		/* Hauteur fixe pour les écrans plus grands */
		mat-card-title {
			font-size: 100%;
		}
	}

	@media (min-width: 1200px) {
		width: 30%;
		/* Réduire la largeur à 15% sur les écrans de 1200 pixels et plus */
		height: 250px;
		/* Hauteur fixe pour les écrans plus grands */
		mat-card-title {
			font-size: 100%;
		}
	}
}

.rendu {
	color: $color_1;
}

.nonRendu {
	color: $color_2;
}

.ajouterBtn {
	margin: 5px;
	align-self: flex-end;
}


.flex-row {
	display: flex;
	flex-direction: row;

	>div {
		flex: 50%;
		padding: 10px;
	}
}

mat-card {
	width: fit-content;
	margin: 2vh;
}

img {
	width: 100%;
	height: 50px;
}

