.body {
    width: calc(100% - 5rem);
    // height: 100vh;
    margin-top: 5.75rem;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 85%;
    border-radius: 5px;
    background-color: #333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    text-align: center;
    padding: 10px;
  }
  .copyright {
    font-size: 12px;
  }