<div class="container">
    <mat-card *ngIf="assignmentTransmis">
        <mat-card-header>
            <div class="outlook" *ngIf="assignmentTransmis.matiere.image_matiere">
                <img src="../{{assignmentTransmis.matiere.image_matiere}}" />
            </div>
            <div class="header-content">
                <mat-card-title class="assignment-name">
                    {{assignmentTransmis.nom}}
                </mat-card-title>
                <mat-card-subtitle class="due-date">
                    {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}
                </mat-card-subtitle>
                <div class="matiere-nom">
                    <span>Matière :
                        {{assignmentTransmis.matiere.nom_matiere}}
                    </span>
                </div>
                <div *ngIf="assignmentTransmis.rendu" class="note-container">
                    <span class="note-label">Note :</span>
                    <span class="note-value">{{assignmentTransmis.note}} / 20</span>
                </div>
                <div class="auteur-nom">
                    <span>Auteur :
                        {{assignmentTransmis.auteur}}</span>
                </div>
            </div>
            <nav>
                <button style="margin-left: auto;" mat-flat-button color="primary" (click)="onClickEdit()" [disabled]="!isLogged()">Edit</button>
            </nav>
        </mat-card-header>
        <mat-card-content>
            <div class="libelle-remarque">
                <span>Remarques</span>
            </div>
            <div class="remarques">
                <div class="remarques-content" *ngIf="assignmentTransmis.remarques; else noRemark">
                    {{ assignmentTransmis.remarques }}
                </div>
                <ng-template #noRemark>
                    <em>Aucune remarque</em>
                </ng-template>
            </div>
            <mat-card-actions>
                <button style="margin-left: auto;" mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()">DELETE</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>